<html>
  <head> </head>
  <body>
    <input type="radio" id="basic" name="product" value="basic" />
    <label for="basic">Basic for $25</label><br />
    
    <input type="radio" id="pro" name="product" value="pro" />
    <label for="pro">Pro for $12</label><br />

    <button class="btn btn-primary" id="checkout-button" type="submit">
      Buy now
    </button>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="./js/account.js"></script>
  </body>
  <html></html>
</html>
